@charset "UTF-8";

.container {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.caixa1 {
    color: white;
    background-color: darkred;
    grid-area: 1/ 1 / 2 / -1;
}

.caixa2 {
    color: white;
    background-color: darkgreen;
    grid-area: 2 / 1 / -1 /  3;
}

.caixa3 {
    color: white;
    background-color: darkblue;
    grid-area: 2 / 3 / -1 / -1;
}